.d{
	box-sizing: border-box;
}
.a1{
width: 300px;
    height: 80px;
    /* background-color: aliceblue; */
    position: relative;
    margin: 20px auto;
    border-bottom: 1px solid black;
	margin: 10px 20px;
}
.one_1{
	float: left;
}
.one_2{
	height:50px;
	width: 150px;
	
	float: left;
	
	
}
